---
title: 'Five slogans for the times'
description: 'In French and English. For thought, t-shirts, stickers, etc.'
headerHTML: '<span style="font-size: 75vw;">⁕</span>'
---

Those were actually made pre-pandemic but fit well.

<section class="gallery">
  <img src="{{ helpers.getMediaPath(path, 'demain–jamais.1000.png') }}" alt="Demain/Jamais">
  <img src="{{ helpers.getMediaPath(path, 'maintenant.1000.png') }}" alt="Maintenant.">
  <img src="{{ helpers.getMediaPath(path, 'normal-is-no-more.1000.gif') }}" alt="Normal is no more.">
  <img src="{{ helpers.getMediaPath(path, 'resist-revolt-rewild.1000.png') }}" alt="Resist, Revolt, Rewild">
  <img src="{{ helpers.getMediaPath(path, 'tout-ira-bien.1000.png') }}" alt="Tout ira bien.">
</section>

[Download (<abbr>ZIP</abbr>)]({{ helpers.getMediaPath(path, 'slogans-for-the-times.zip') }}) and make T-shirts, stickers, banners, tattoos, etc.

Credits to Mark Boyle's book <a class="external" href="https://newsociety.com/books/d/drinking-molotov-cocktails-with-gandhi">“Drinking Molotov Cocktails with Gandhi”</a> for the “Resist, Revolt, Rewild” motto, and to Erik Spiekermann's “Alles wird gut” poster that inspired the French twist.

Offered as-is under a <a class="external" href="https://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution 4.0 International license</a> (copy and share at will).
