---
title: Articles
---
ul.articles-list
  for a in articles
    li
      // chop extension off path as we use permalinks
      a(href=`/${a.path.split('.').slice(0, -1).join('.')}`)
        h2
          != a.title
      time(datetime=a.date)
        != helpers.formatDate(a.date)
      p
        != a.description
