---
sectionId: 'contact'
title: 'Contact'
sectionOrder: '8'
---

p.
  Un projet à venir, une simple idée, une question ou l'envie de
  passer boire un petit thé...
  L’atelier est basé en ville de Genève, avec pour l’instant des clients sur Genève et Vaud.
  Priorité donnée aux interlocuteurs locaux et en Suisse romande.

//- TODO: use microformats/schema.org
.contact-details
  .name Simon Goumaz &nbsp;•&nbsp; atelier <span class="attentif">attentif</span>
  .address rue de la Prairie 27, 1202 Genève (<a href="http://goo.gl/maps/kyJZt" target="blank">carte</a>)
  .phone (+41) (0)79 385 71 20
  .e-mail: a(href='mailto:simon@attentif.ch') simon@attentif.ch
  .vcard: a(href='simon-goumaz.vcf') ⬇ <em>vCard</em>
