@import 'nib'
global-reset()

// -----------
// BASE STYLES
// -----------

// Fonts

@font-face {
  font-family: 'GT America Standard';
  src: url('fonts/GT-America-Standard-Regular.eot');
  src: url('fonts/GT-America-Standard-Regular.eot?#iefix') format('embedded-opentype'),
          url('fonts/GT-America-Standard-Regular.woff2') format('woff2'),
          url('fonts/GT-America-Standard-Regular.woff') format('woff'),
          url('fonts/GT-America-Standard-Regular.ttf') format('truetype');
  font-weight:  400;
  font-style: normal;
  font-stretch: normal;
}
@font-face {
  font-family: 'Satyr 10 Web';
  src: url('fonts/Satyr10Web-Italic.eot');
  src: url('fonts/Satyr10Web-Italic.eot?#iefix') format('embedded-opentype'),
          url('fonts/Satyr10Web-Italic.woff2') format('woff2'),
          url('fonts/Satyr10Web-Italic.woff') format('woff');
  font-weight:  400;
  font-style: italic;
  font-stretch: normal;
}
@font-face {
  font-family: 'Atlas Typewriter Web';
  src: url('fonts/AtlasTypewriter-Regular-Web.eot');
  src: url('fonts/AtlasTypewriter-Regular-Web.eot?#iefix') format('embedded-opentype'),
          url('fonts/AtlasTypewriter-Regular-Web.woff') format('woff'),
          url('fonts/AtlasTypewriter-Regular-Web.ttf') format('truetype');
  font-weight:  400;
  font-style: normal;
  font-stretch: normal;
}
// TODO eventually: remove if unused
@font-face {
  font-family: 'Atlas Typewriter Web';
  src: url('fonts/AtlasTypewriter-Medium-Web.eot');
  src: url('fonts/AtlasTypewriter-Medium-Web.eot?#iefix') format('embedded-opentype'),
          url('fonts/AtlasTypewriter-Medium-Web.woff') format('woff'),
          url('fonts/AtlasTypewriter-Medium-Web.ttf') format('truetype');
  font-weight:  500;
  font-style: normal;
  font-stretch: normal;
}
@font-face {
  font-family: 'Atlas Typewriter SC Web';
  src: url('fonts/AtlasTypewriterSC-Medium-Web.eot');
  src: url('fonts/AtlasTypewriterSC-Medium-Web.eot?#iefix') format('embedded-opentype'),
          url('fonts/AtlasTypewriterSC-Medium-Web.woff') format('woff'),
          url('fonts/AtlasTypewriterSC-Medium-Web.ttf') format('truetype');
  font-weight:  500;
  font-style: normal;
  font-stretch: normal;
}

// Variables

$base-font-size = 18px
$base-line-height = 1.4375rem
$base-letter-width = 0.64rem // empirically determined

$black = rgba(0, 0, 0, 0.9)
$white = #FFF
$accent = rgba(164, 0, 0, 0.75)
$bold-weight = 500

// Mixins: Type

text-font()
  font-family: 'GT America Standard', 'GT America', Helvetica, Arial, sans-serif
  font-size: 1.06rem
  font-variant-numeric: oldstyle-nums
  font-feature-settings: 'ss03'

em-font()
  font-family: 'Satyr 10 Web', 'Satyr10', 'Times New Roman', serif
  font-style: italic
  font-size: 1.21rem
  letter-spacing: -0.015em

headings-font()
  font-family: 'Atlas Typewriter SC Web', 'Atlas Typewriter', Inconsolata, Consolas, 'Courier New', Courier, monospace
  font-weight: $bold-weight
  font-size: 1rem

console-font()
  font-family: 'Atlas Typewriter Web', 'Atlas Typewriter', Inconsolata, Consolas, 'Courier New', Courier, monospace
  font-size: 1rem

// Mixins: Layout

base-lines(n)
  (n * $base-line-height)

base-chars(n)
  (n * $base-letter-width)

block()
  margin: base-lines(1) 0
  &:first-child
    margin-top: 0
  &:last-child
    margin-bottom: 0

inline()
  display: inline
  margin: 0

// Mixins: Other

selection()
  color: #000
  background-color: rgba(255, 255, 0, 0.5)

black-label-heading()
  display: table
  margin-top: -0.1em
  margin-bottom: "calc(-0.1em + %s)" % base-lines(1)
  margin-left: 0
  margin-right: 0
  border: 0.5px solid
  border-color:  rgba(255, 255, 255, 0.5) rgba(255, 255, 255, 0.3) rgba(0, 0, 0, 0.2)
  padding: 0.1em 0 0.1em base-chars(1)
  color: $white
  background-color: $black

// Elements

*
  padding: 0
  margin: 0
  box-sizing: border-box
  &::-moz-selection
    selection()
  &::selection
    selection()

html
  height: 100%
  font-size: $base-font-size
  &.js
    .fade
      opacity: 0 // fade in with code
      transition: opacity 1s ease
      &.visible
        opacity: 1
    #video-fallback
      display: none

body
  height: 100%
  text-font()
  line-height: $base-line-height
  color: $black
  background-color: #AAA

section
  block()

h1
  block()
  headings-font()
  text-transform: uppercase
  letter-spacing: base-chars(1)

h1.strong
  black-label-heading()

h2
  block()
  margin-bottom: 0
  headings-font()
  text-transform: lowercase

p
  block() // TODO: remove?
  margin-top: 0
  text-font()

p + p.continue-flow
  margin-top: -(base-lines(1))
  text-indent: base-chars(3)

ul
  margin: 0
  padding: 0
  padding-left: 1.4em
  li
    position: relative
    &::before
      position: absolute
      left: -1.35em
      content: '—\00a0'

.inline
  h2
    inline()
    margin-right: base-chars(0.5)

  p
    inline()

  p + h2
    margin-left: base-chars(1)
    &::before
      content: '\00a0\00a0'
      background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVQImWNgYGD4BwABAwD/oLeC+wAAAABJRU5ErkJggg==')
      background-size: 50% 100%
      background-repeat: repeat-y
      background-position: 0 0
      opacity: 0.9

  ul
    padding: 0
    li
      inline()
      &::before
        position: unset
        left: unset
      &:first-child::before
        content: none

select, input, textarea, button
  console-font()
  color: $black

a
  margin: -0.2em (- base-chars(0.25))
  border: 0.5px solid
  border-color:  rgba(255, 255, 255, 0.5) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.2)
  padding: 0.2em base-chars(0.25)
  color: $black
  background-color: rgba(0, 0, 0, 0.1)
  text-decoration: none
  font-feature-settings: "ss03";
  &:hover, &:focus, &:active
    color: $white
    background-color: $accent
  &.external::after
    position: relative
    bottom: 1em
    content: '↗︎'
    font-size: 0.5em

a.action
  padding-left: base-chars(1)
  padding-right: base-chars(1)
  .text
    headings-font()
    text-transform: lowercase

nav a
  margin-left: (- base-chars(1))
  margin-right: (- base-chars(1))
  padding-left: base-chars(1)
  padding-right: base-chars(1)
  &:not(:last-child)
    margin-right: base-chars(1)
  &.home
    letter-spacing: -0.16em // HACK: stick the pipe and arrow together
    padding-right: @padding-right + 0.16em
  .text
    headings-font()
    text-transform: lowercase

em
  em-font()

strong
  em-font()
  text-decoration: underline
  text-decoration-thickness: 0.111111111rem

abbr
  headings-font()
  font-variant-caps: all-small-caps;

hr
  margin: 1rem 0
  border: 0
  border-bottom: 0.05rem dotted

.arrow
  text-font()