---
inline: false
---

# What I offer

_Details will come._ For individuals and organisations. Do [get in touch](mailto:simon@attentif.ch) to know more.

## Information management

Go for clarity. Make your information flows and stores work _for_ you.
<br>Consulting • Coaching

## Humane collaboration and software development

Get good stuff done (or get help doing it) with agile, respectful practices for engineering and team work.
<br>Consulting • Coaching • Development

## Transition management

Align with new priorities and changed environments. Let go of the obsolete.
<br>Consulting • Coaching

# Contact me
