---
inline: false
---

# What I offer {.strong}

Consulting, coaching and projects for organisations and individuals.

[✎]{.icon} **I'm currently redefining priorities in my work, so please bear with the general vagueness of what follows. Details will come! Until then, [get in touch](mailto:simon@attentif.ch) to know more.**

## Information management

Feeling overwhelmed or confused in the midst of floods of digital information? Or simply wishing for more understanding over, say, where your data is and how to make it better work _for_ you? It's probably never been harder to cultivate clarity (and peace of mind) than today – whether it's the multitude of apps and services, your media intake, organising your own files, or in general just the noise of the things that don't really matter covering those that do.

Being an information technology professional didn't prevent it: I've been there. But you don't need to be one to find your way out. I work with you to diagnose your digital ailments, tune and prune your habits and tools, and accompany you towards resilient sovereignty over your digital life. {.continue-flow}

## Humane collaboration and software development

You need an app, service, a website (or perhaps you're not quite sure) to develop, support or enable a work of love? Or you have a team and/or project in place but want help with coordination and/or technical leadership? I have over 15 years of developing sound and capable software with agile and respectful practices to offer.

## Transition management

The world around us changes; we change. More and more, things that used to work don't seem to fit anymore. You know you need to evolve your processes, your tools, or your perspectives, but you're not sure how. Or perhaps, you have a vision of where you want to go but you're not making progress, or just can't sort out the priorities. It's a cliché to some, but it took me a while to learn this: while only you can walk your path, you don't have to walk alone – especially around crossroads. I offer experienced, compassionate and practical assistance to navigate challenging times.

# Contact me <br>[↓]{.arrow} {style="text-align: center"}
