---
inline: false
---

[attentif*]{.workshop-name} offers consulting, coaching and projects for organisations and individuals.

## Information management

Feeling overwhelmed or confused in the midst of floods of digital information? Or simply wishing for more understanding over, say, where your data is and how to make it better work _for_ you? It's probably never been harder to cultivate clarity (and peace of mind) than today – whether it's the many apps and services, your media intake, organising your own files, or in general just the noise of the things that don't really matter covering those that do.

Being an information technology professional didn't prevent it: I've been there. But you don't need to be one to find your way out. I work with you to diagnose your digital ailments, tune and prune your habits and tools, and accompany you towards resilient sovereignty over your digital life. {.continue-flow}

## Humane software design & development

You need an app, service, a website (or perhaps you're not quite sure) to develop, support or enable a work of love? Or you're looking for experienced support with data or code architecture, or technical leadership? I have over 15 years of developing sound and capable software with agile and respectful practices to offer.

## Humane team collaboration

You have a team and/or project in place but need help with coordination? Or maybe you're struggling with getting collaboration practices or tools to work for you? Collaboration that goes beyond the bottom line has been at the core of my work for a long time. If your heart is in there, I want to give a hand and facilitate healthy, sustainable growth for your project and your team.

<span class="icon">☕︎</span> [<span class="text">Contact me</span>](mailto:simon@attentif.ch){.action} {style="text-align: center"}
