@import './_base'

// ------------
// PRINT STYLES (temp: will eventually move to a separate package)
// ------------

@media print
  :root
    --left-margin: 4.6cm
  @page
    @css { size: A4; }
    margin: 1.15cm 2.7cm 2.7cm 1.15cm
    @bottom-right-corner
      content: counter(page) "/" counter(pages)
      font-family: 'Atlas Grotesk'
      font-variant: prince-opentype(smcp, c2sc)
      text-align: center
      padding-top: 0.9cm
    @bottom-right
      content: string(doc-title)
      overflow: visible
      white-space: nowrap
      text-align: right
      padding-top: 0.9cm
      font-family: 'Atlas Grotesk'
      font-variant: prince-opentype(smcp, c2sc)
  @page:first
    @bottom-right
      content: ''
  html
    height: unset
    font-size: 10pt
  body
    height: unset
    margin-left: var(--left-margin)
    font-variant: prince-opentype(onum)
    color: #000
    background-color: transparent
  h1, h2, h3, h4, h5, h6
    page-break-after: avoid
	  page-break-inside:avoid
  h1 + p, h2 + p, h3 + p
	  page-break-before: avoid
  h1
    margin: 2.5rem 0 1rem
    border-top: 0.05rem dotted
    padding-top: 2.45rem
    letter-spacing: 0.1em
    string-set: h1-title content()
    counter-reset: figure-num;
    counter-reset: footnote-num
    &:nth-of-type(1), &:nth-of-type(2)
      border-top: 0
      padding-top: 0
  h1.title
    string-set: doc-title content()
    margin-left: calc(var(--left-margin) * -1)
    margin-bottom: 5.4rem
    font-family: 'Atlas Grotesk'
    font-weight: 300
    font-size: 1.6rem
    letter-spacing: normal
    line-height: 1.1
  .subtitle
    margin-left: calc(var(--left-margin) * -1)
    margin-top: -5.4rem
    margin-bottom: 5.4rem
    em-font()
  h2
    margin: 1.5rem 0 0.5rem
    font-family: 'Atlas Typewriter'
    font-size: 0.9rem
    font-weight: 400
    text-transform: uppercase
    letter-spacing: 0.1em
    text-decoration: underline
  h3
    margin: 1.5rem 0 0.5rem
    font-family: 'Atlas Typewriter'
    font-variant: prince-opentype(smcp, c2sc)
    font-size: 0.9rem
    font-weight: 400
    letter-spacing: 0.05em
  p, ul
    margin: 0 0 0.5rem
    //hyphens: auto
  .label
    display: inline-block
    position: absolute
    width: var(--left-margin)
    left: -1rem
    text-align: right
    font-family: 'Atlas Typewriter'
    font-size: 0.9rem
    font-weight: 400
    letter-spacing: 0.05em
  h1 > .label
    font-size: inherit
    font-weight: inherit
  h1.label, h2.label, h3.label
    margin: 0
  p > .label
    font-weight: 300
    letter-spacing: normal
  .tags
    font-family: 'Atlas Grotesk'
    font-variant: prince-opentype(smcp, c2sc)
    font-size: 0.8em
    & > span
      padding: 0.1em 0.25em
      margin: 0 0.25em
      background-color: #EEE
      white-space: nowrap
  .page-break
    page-break-before: always
  p.signature
    margin-top: 2rem
    margin-left: 60%

  table
    border-collapse: collapse;
  table thead tr th
    border-bottom: 0.05rem dotted
  table th, table td
    padding-right: 1rem
    font-variant: prince-opentype(pnum)
