@import './_base'

// ------------
// PRINT STYLES (temp: will eventually move to a separate package)
// ------------

@media print
  :root
    --left-margin: 4.6cm
  @page
    @css { size: A4; }
    margin: 1.15cm 2.7cm 2.7cm 1.15cm
    @bottom-right
      margin: 57.5% -1.25cm 0 0
      content: counter(page) "/" counter(pages)
      console-font()
    @bottom-right-corner
      display: block
      content: ''
      background-image: url('./media/logo-at.square.inverted.svg')
      background-size: 1.15cm
      background-position: bottom right
      background-repeat: no-repeat
    @right-bottom
      content: string(doc-title)
      overflow: visible
      white-space: nowrap
      margin: 0 1em 1.15cm 0
      transform: rotate(-90deg)
      transform-origin: bottom right
      font-family: 'Atlas Grotesk'
      font-variant: prince-opentype(smcp, c2sc)
  @page:first
    @right-bottom
      content: '+41 79 385 71 20 ∙ simon@attentif.ch'
      console-font()
  html
    height: unset
    font-size: 10pt
  body
    height: unset
    margin-left: var(--left-margin)
    font-variant: prince-opentype(onum)
    color: #000
    background-color: transparent
  h1, h2, h3, h4, h5, h6
    page-break-after: avoid
	  page-break-inside:avoid
  h1 + p, h2 + p, h3 + p
	  page-break-before: avoid
  h1
    margin: 2.5rem 0 1rem
    letter-spacing: 0.1em
    string-set: h1-title content()
    counter-reset: figure-num;
    counter-reset: footnote-num;
  h1.title
    string-set: doc-title content()
    margin-left: -4.6cm // TODO once Prince supports it (v14), change to: calc(var(--left-margin) * -1)
    margin-bottom: 5.4rem
    font-family: 'Atlas Grotesk'
    font-weight: 300
    font-size: 1.6rem
    letter-spacing: normal
  h2
    margin: 1rem 0 0.5rem
    font-family: 'Atlas Typewriter'
    font-variant: prince-opentype(smcp, c2sc)
    font-weight: 400
    letter-spacing: 0.1em
  p
    margin: 0 0 0.5rem
    //hyphens: auto
  .label
    display: inline-block
    position: absolute
    width: var(--left-margin)
    left: -1rem
    text-align: right
    font-family: 'Atlas Typewriter'
    font-size: 0.9rem
    font-weight: 400
    font-variant: prince-opentype(smcp, c2sc)
    letter-spacing: 0.05em
  h1.label, h2.label, h3.label
    margin: 0
  p > .label
    font-weight: 300
    letter-spacing: normal
  .tags
    font-family: 'Atlas Grotesk'
    font-variant: prince-opentype(smcp, c2sc)
    font-size: 0.8em
    & > span
      padding: 0.1em 0.25em
      margin: 0 0.25em
      background-color: #EEE
      white-space: nowrap
  .page-break
    page-break-before: always
  p.signature
    margin-top: 2rem
    margin-left: 60%