@import './_base'

// -----------------------
// SCREEN (WEBSITE) STYLES
// -----------------------

// Variables

$body-text-width = base-chars(60)
$body-text-h-padding = base-chars(2)

// Mixins

// TODO: review compatibility
transform-style()
  -webkit-transform-style: arguments
  -moz-transform-style: arguments

// Elements

#main-container
  background: url('/media/transparent-paper.png') fixed rgba(128, 128, 128, 0.5)
  perspective: 1px
  perspective-origin-x: 100%
  transform-style: preserve-3d
  height: 100%
  overflow-y: scroll
  overflow-x: hidden

$distanceFactor = 11
#header
  position: absolute
  left: (base-chars(2) * $distanceFactor)
  bottom: 0
  transform: translateZ(-($distanceFactor - 1)px) scale($distanceFactor)
  transform-origin-x: 100%
  transform-style: preserve-3d
  width: 100%
  .logo
    width: 90%
    opacity: 0.25
    -webkit-filter: blur(2px)
    filter: blur(2px)
    pointer-events: none

#main
  position: relative
  transform: translateZ(0)
  transform-origin-x: 100%
  transform-style: preserve-3d
  width: 100%
  margin: 0 auto
  padding: 0 $body-text-h-padding base-lines(2)

#footer
  position: relative
  transform: translateZ(0)
  transform-origin-x: 100%
  transform-style: preserve-3d
  padding: 0 $body-text-h-padding base-lines(1)
  text-align: center
  &::after // clearfix
    content: ""
    display: block
    clear: both

.notice
  padding: base-lines(1) base-chars(1)
  border-top: 1em solid $black
  border-bottom: 1em solid $black
  border-left: base-chars(1) solid $black
  border-right: base-chars(1) solid $black
  margin: 0 (- base-chars(2)) ("calc(%s - 1em)" % base-lines(3))
  h1
    black-label-heading()
    margin-top: (@margin-top - base-lines(1))

.page-header
  h1
    black-label-heading()
    margin-left: (@margin-left - base-chars(1))
    margin-right: (@margin-right - base-chars(1))
  time
    display: block
    margin: (- base-lines(1)) 0 base-lines(1) 0

ul.articles-list
  padding: 0
  li
    margin-bottom: base-lines(1)
    &::before
      content: none
  h2
    inline()
  time
    margin-left: base-chars(1)
    &::before
      content: '('
    &::after
      content: ')'

nav.more
  text-align: right

.icon
  display: block
  position: absolute
  left: 0
  font-size: 1.3em

.workshop-name
  console-font()

.gallery
  margin-left: calc(50% - 50vw)
  margin-right: calc(50% - 50vw)
  text-align: center
  img
    margin: base-chars(1) 0
    width: 500px
    max-width: 100%
    max-height: 500px
    background-color: rgba(255, 255, 255, 0.8)
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.30)

ul.coordinates
  display: inline-block
  li
    float: left
    margin-left: base-chars(3)
    text-indent: - base-chars(3)
    vertical-align: top
    text-align: left
    &::before
      position: unset
      left: unset
    &:first-child::before
      content: none
    &:not(:first-child)::before
      content: '\00a0∙\00a0'

#video-container
  position: fixed
  top: -50%
  left: -50%
  width: 200%
  height: 200%
  z-index: -10

#video
  display: none // always shown via JS

#video, #video-fallback
  position: absolute
  top: 0
  left: 0
  right: 0
  bottom: 0
  margin: auto
  min-width: 50%
  min-height: 50%

@media (min-width: ($body-text-width + $body-text-h-padding))
  #main
    width: ($body-text-width + $body-text-h-padding)
    padding-top: base-lines(2)
  #header .logo
    width: 80%

@media (min-width: ($body-text-width + base-chars(16)))
  .gallery
    display: flex
    flex-direction: row
    flex-wrap: wrap
    align-items: center
    justify-content: center
    img
      flex: 1 1 50%
      margin: base-chars(1)
      max-width: 500px
  #footer
    margin: 0 auto
    padding: 0 base-chars(8) base-lines(1)
  #header .logo
    width: 50%
