@import 'nib'
global-reset()

// -----------
// BASE STYLES
// -----------

// Fonts

@font-face {
  font-family: 'GT America Standard';
  src: url('fonts/GT-America-Standard-Regular.eot');
  src: url('fonts/GT-America-Standard-Regular.eot?#iefix') format('embedded-opentype'),
          url('fonts/GT-America-Standard-Regular.woff2') format('woff2'),
          url('fonts/GT-America-Standard-Regular.woff') format('woff'),
          url('fonts/GT-America-Standard-Regular.ttf') format('truetype');
  font-weight:  400;
  font-style: normal;
  font-stretch: normal;
}
@font-face {
  font-family: 'Satyr 10 Web';
  src: url('fonts/Satyr10Web-Italic.eot');
  src: url('fonts/Satyr10Web-Italic.eot?#iefix') format('embedded-opentype'),
          url('fonts/Satyr10Web-Italic.woff2') format('woff2'),
          url('fonts/Satyr10Web-Italic.woff') format('woff');
  font-weight:  400;
  font-style: italic;
  font-stretch: normal;
}
@font-face {
  font-family: 'Atlas Typewriter Web';
  src: url('fonts/AtlasTypewriter-Regular-Web.eot');
  src: url('fonts/AtlasTypewriter-Regular-Web.eot?#iefix') format('embedded-opentype'),
          url('fonts/AtlasTypewriter-Regular-Web.woff') format('woff'),
          url('fonts/AtlasTypewriter-Regular-Web.ttf') format('truetype');
  font-weight:  400;
  font-style: normal;
  font-stretch: normal;
}
// TODO eventually: remove if unused
@font-face {
  font-family: 'Atlas Typewriter Web';
  src: url('fonts/AtlasTypewriter-Medium-Web.eot');
  src: url('fonts/AtlasTypewriter-Medium-Web.eot?#iefix') format('embedded-opentype'),
          url('fonts/AtlasTypewriter-Medium-Web.woff') format('woff'),
          url('fonts/AtlasTypewriter-Medium-Web.ttf') format('truetype');
  font-weight:  500;
  font-style: normal;
  font-stretch: normal;
}
@font-face {
  font-family: 'Atlas Typewriter SC Web';
  src: url('fonts/AtlasTypewriterSC-Medium-Web.eot');
  src: url('fonts/AtlasTypewriterSC-Medium-Web.eot?#iefix') format('embedded-opentype'),
          url('fonts/AtlasTypewriterSC-Medium-Web.woff') format('woff'),
          url('fonts/AtlasTypewriterSC-Medium-Web.ttf') format('truetype');
  font-weight:  500;
  font-style: normal;
  font-stretch: normal;
}

// Variables

$base-font-size = 18px
$base-line-height = 1.4375rem
$base-letter-width = 0.64rem // empirically determined

$black = rgba(0, 0, 0, 0.9)
$white = #FFF
$bold-weight = 500

// Mixins: Type

text-font()
  font-family: 'GT America Standard', Helvetica, Arial, sans-serif
  font-size: 1.06rem
  font-variant-numeric: oldstyle-nums

em-font()
  font-family: 'Satyr 10 Web', 'Times New Roman', serif
  font-style: italic
  font-size: 1.21rem
  letter-spacing: -0.015em

headings-font()
  font-family: 'Atlas Typewriter SC Web', Inconsolata, Consolas, 'Courier New', Courier, monospace
  font-weight: $bold-weight
  font-size: 1rem

console-font()
  font-family: 'Atlas Typewriter Web', Inconsolata, Consolas, 'Courier New', Courier, monospace
  font-size: 1rem

// Mixins: Layout

base-lines(n)
  (n * $base-line-height)

base-chars(n)
  (n * $base-letter-width)

block()
  margin: base-lines(1) 0
  &:first-child
    margin-top: 0
  &:last-child
    margin-bottom: 0

inline()
  display: inline
  margin: 0

// Mixins: Other

selection()
  color: #000
  background-color: rgba(255, 255, 0, 0.5)

// Elements

*
  padding: 0
  margin: 0
  box-sizing: border-box
  &::-moz-selection
    selection()
  &::selection
    selection()

html
  height: 100%
  font-size: $base-font-size
  &.js
    .fade
      opacity: 0 // fade in with code
      transition: opacity 1s ease
      &.visible
        opacity: 1
    #video-fallback
      display: none

body
  height: 100%
  text-font()
  line-height: $base-line-height
  color: $black
  background-color: #AAA

section
  block()

h1
  block()
  headings-font()
  text-transform: uppercase
  letter-spacing: base-chars(1)

h2
  block()
  margin-bottom: 0
  headings-font()
  text-transform: lowercase

p
  block() // TODO: remove?
  margin-top: 0
  text-font()

ul
  margin: 0
  padding: 0
  padding-left: 1.4em
  li
    position: relative
    &::before
      position: absolute
      left: -1.35em
      content: '—\00a0'

.inline
  h2
    inline()
    margin-right: base-chars(0.5)

  p
    inline()

  p + h2
    margin-left: base-chars(1)
    &::before
      content: '\00a0\00a0'
      background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVQImWNgYGD4BwABAwD/oLeC+wAAAABJRU5ErkJggg==')
      background-size: 50% 100%
      background-repeat: repeat-y
      background-position: 0 0
      opacity: 0.9

  ul
    padding: 0
    li
      inline()
      &::before
        position: unset
        left: unset
      &:first-child::before
        content: none

select, input, textarea, button
  console-font()
  color: $black

/*button*/
  /*margin: 0 0.75em 0 0*/
  /*border: none*/
  /*border-radius: 2px*/
  /*padding: 0.25em*/
  /*background-color: rgba(0, 0, 0, 0.1)*/
  /*line-height: 1*/
  /*font-variant: all-small-caps*/
  /*cursor: pointer*/
  /*&:hover, &:focus, &:active*/
    /*color: $white*/
    /*background-color: rgba(0, 0, 0, 0.7)*/

a
  color: $black
  text-decoration: underline

em
  em-font()

strong
  em-font()
  // TODO: more emphasis?


// --------------
// WEBSITE STYLES
// --------------

// Variables

$body-text-width = base-chars(60)
$body-text-h-padding = base-chars(2)

// Mixins

// TODO: review compatibility
transform-style()
  -webkit-transform-style: arguments
  -moz-transform-style: arguments

// Elements

#main-container
  background: url('/media/transparent-paper.png') fixed rgba(128, 128, 128, 0.5)
  perspective: 1px
  perspective-origin-x: 100%
  transform-style: preserve-3d
  height: 100%
  overflow-y: scroll
  overflow-x: hidden

$distanceFactor = 11
#header
  position: absolute
  left: (base-chars(2) * $distanceFactor)
  bottom: 0
  transform: translateZ(-($distanceFactor - 1)px) scale($distanceFactor)
  transform-origin-x: 100%
  transform-style: preserve-3d
  width: 100%
  .logo
    width: 90%
    opacity: 0.25
    -webkit-filter: blur(2px)
    filter: blur(2px)
    pointer-events: none

#main
  position: relative
  transform: translateZ(0)
  transform-origin-x: 100%
  transform-style: preserve-3d
  width: 100%
  margin: 0 auto
  padding: 0 $body-text-h-padding base-lines(2)

#footer
  position: relative
  transform: translateZ(0)
  transform-origin-x: 100%
  transform-style: preserve-3d
  padding: 0 $body-text-h-padding base-lines(1)
  text-align: center
  &::after // clearfix
    content: ""
    display: block
    clear: both

// HACK: assumes .inline
.notice
  padding: base-lines(1) base-chars(1)
  border-top: 1em solid $black
  border-bottom: 1em solid $black
  border-left: base-chars(1) solid $black
  border-right: base-chars(1) solid $black
  margin: 0 (- base-chars(2)) ("calc(%s - 1em)" % base-lines(3))
  h2
    color: $white
    background-color: $black
    &:not(:first-child)::before
      white-space: pre-wrap
      content: '\A\A'

.page-title
  display: table
  padding-left: base-chars(1)
  margin: 0 (- base-chars(1)) base-lines(1)
  color: $white
  background-color: $black

ul.articles-list
  a
    headings-font()
    text-transform: lowercase
  time
    margin-left: base-chars(1)
    &::before
      content: '('
    &::after
      content: ')'

ul.coordinates
  display: inline-block
  li
    float: left
    margin-left: base-chars(3)
    text-indent: - base-chars(3)
    vertical-align: top
    text-align: left
    &::before
      position: unset
      left: unset
    &:first-child::before
      content: none
    &:not(:first-child)::before
      content: '\00a0∙\00a0'
  .workshop-name
    console-font()

#video-container
  position: fixed
  top: -50%
  left: -50%
  width: 200%
  height: 200%
  z-index: -10

#video
  display: none // always shown via JS

#video, #video-fallback
  position: absolute
  top: 0
  left: 0
  right: 0
  bottom: 0
  margin: auto
  min-width: 50%
  min-height: 50%

@media (min-width: ($body-text-width + $body-text-h-padding))
  #main
    width: ($body-text-width + $body-text-h-padding)
    padding-top: base-lines(2)
  #header .logo
    width: 80%

@media (min-width: ($body-text-width + base-chars(16)))
  #footer
    margin: 0 auto
    padding: 0 base-chars(8) base-lines(1)
  #header .logo
    width: 50%


// ------------
// PRINT STYLES
// ------------

@media print
  html
    font-size: 11pt
  body
    background-color: transparent
  // TODO remove (disable default styles in mdpdf API)
  body.markdown-body
    font-size: unset
