@import 'nib'
global-reset()

// VARIABLES

$black = rgba(0, 0, 0, 0.9)
$white = #FFF

$base-font-family = Atlas Typewriter, Inconsolata, Consolas, 'Courier New', Courier, monospace
$bold-weight = 500
$base-font-size = 16px
$base-line-height = 23px // = 1.4375
$base-letter-width = round($base-font-size * 0.64) // empirically determined

lines(n)
  (n * $base-line-height)

chars(n)
  (n * $base-letter-width)

$body-text-width = chars(60)
$body-text-h-padding = chars(2)


// BASE

basefont()
  font-family: $base-font-family
  font-size: $base-font-size
  line-height: $base-line-height

// TODO: review compatibility
transform-style()
  -webkit-transform-style: arguments
  -moz-transform-style: arguments

selection()
  color: #000
  background-color: rgba(255, 255, 0, 0.5)

*
  padding: 0
  margin: 0
  box-sizing: border-box
  &::-moz-selection
    selection()
  &::selection
    selection()

html
  height: 100%
  &.js
    .fade
      opacity: 0 // fade in with code
      transition: opacity 1s ease
      &.visible
        opacity: 1
    #video-fallback
      display: none

body
  height: 100%
  basefont()
  color: $black
  background-color: #AAA

block()
  basefont()
  margin: lines(1) 0
  &:first-child
    margin-top: 0
  &:last-child
    margin-bottom: 0

h1
  block()
  font-weight: $bold-weight
  text-transform: uppercase
  letter-spacing: chars(1)

h2
  basefont()
  display: inline
  font-weight: $bold-weight
  font-variant: all-small-caps

p
  basefont()
  display: inline

p + h2
  &::before
    content: '\00a0\00a0'
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVQImWNgYGD4BwABAwD/oLeC+wAAAABJRU5ErkJggg==')
    background-size: 50% 100%
    background-repeat: repeat-y
    background-position: 0 0
    opacity: 0.9

ul
  margin: 0
  padding: 0
  li
    display: inline
    &:not(:first-child)::before
      content: '—\00a0'

select, input, textarea, button
  basefont()
  color: $black

/*button*/
  /*margin: 0 0.75em 0 0*/
  /*border: none*/
  /*border-radius: 2px*/
  /*padding: 0.25em*/
  /*background-color: rgba(0, 0, 0, 0.1)*/
  /*line-height: 1*/
  /*font-variant: all-small-caps*/
  /*cursor: pointer*/
  /*&:hover, &:focus, &:active*/
    /*color: $white*/
    /*background-color: rgba(0, 0, 0, 0.7)*/

a
  color: $black
  text-decoration: underline

strong
  font-weight: $bold-weight

em
  font-style: italic

// SPECIFIC

.attentif
  // TODO: review

#main-container
  background: url('/media/transparent-paper.png') fixed rgba(128, 128, 128, 0.5)

#header
  position: fixed
  left: chars(5)
  bottom: lines(1)
  width: 100%
  .title
    position: fixed
    bottom: 0
    left: 0.1em
    font-family: Atlas Typewriter
    font-size: 30vw
    line-height: 1
    font-weight: 900
    letter-spacing: -0.07em;
    opacity: 0.25
    filter: blur(2px)
    pointer-events: none

#main
  width: 100%
  margin: 0 auto
  padding: 0 $body-text-h-padding lines(2)

section
  margin: lines(1) 0
  &:first-child
    margin-top: 0
  &:last-child
    margin-bottom: 0

#notice
  padding: lines(1) chars(1)
  border-top: 1em solid $black
  border-bottom: 1em solid $black
  border-left: chars(1) solid $black
  border-right: chars(1) solid $black
  margin: 0 (- chars(2)) ("calc(%s - 1em)" % lines(2))
  h2
    color: $white
    background-color: $black
    &:not(:first-child)::before
      white-space: pre-wrap
      content: '\A\A'

#footer
  padding: 0 $body-text-h-padding lines(1)
  text-align: center
  &::after // clearfix
    content: ""
    display: block
    clear: both

ul.coordinates
  display: inline-block
  li
    float: left
    margin-left: chars(3)
    text-indent: - chars(3)
    vertical-align: top
    text-align: left
    &:not(:first-child)::before
      content: '\00a0∙\00a0'
  .practice-name
    font-weight: $bold-weight

#video-container
  position: fixed
  top: -50%
  left: -50%
  width: 200%
  height: 200%
  z-index: -10

#video
  display: none // always shown via JS

#video, #video-fallback
  position: absolute
  top: 0
  left: 0
  right: 0
  bottom: 0
  margin: auto
  min-width: 50%
  min-height: 50%

@media (min-width: ($body-text-width + $body-text-h-padding))
  #main
    width: ($body-text-width + $body-text-h-padding)
    padding-top: lines(2)
  #notice
    margin-top: @margin-bottom

@media (min-width: ($body-text-width + chars(16)))
  #footer
    margin: 0 auto
    padding: 0 chars(8) lines(1)
